
:host ::ng-deep .mord, :host ::ng-deep .mbin{
  font-size: 2rem;
}
:host ::ng-deep .mtight{
  position: absolute;
  bottom: 120%;
  font-size: 1.2rem;
}
:host ::ng-deep .katex{
  line-height:2.3rem;

}
